# Rider files
.idea/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/

# Visual Studio files
*.VisualState.xml
*.sln.ide
*.suo
*.user
*.userosscache
*.sln.docstates
*.cache
*.dll
*.exe
*.pdb
*.log
*.vspscc
*.vssscc
ipch/
obj/
[Bb]in/
[Oo]bj/
_ReSharper*/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Resharper files
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# NuGet
packages/
*.nupkg
*.snupkg
*.paket.*
*.props
*.targets
