@model AccountModel

<div id="account-@Model.Id">
    <span style="margin: 5px">@Model.Name</span>
    <button type="button" class="btn btn-primary" style="margin: 5px" onclick="showEdit(@Model.Id)">Edit</button>
</div>